<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/css/output.css">
		
	</head>
	<body>
		{% block header %} 
			{% include "./layouts/_header.twig" %}
		{% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
		{% block script %} <script src="/js/script.js"></script> {% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

	</body>
</html>
